{%  extends "base.html" %}

{% block title %}Pizza Shop{%  endblock %}

{%  block content %}
    <div class="text-center vertical pt-4">
        <h3>Please choose your pizza size and toppings</h3><br>
        <form action="." method="post">
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit">Order</button>
        </form>
    </div>
{%  endblock %}