{% extends 'base.html' %}

{% block title %}
    User Login
{% endblock %}

{%  block content %}
<div class="text-center vertical pt-5">
    <h1>Please Login to place an order. Thank you</h1><br>
    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">SUBMIT</button>
    </form>
</div>

<div class="text-center vertical">
    <br>
    <h5>Don't have an account? <a href="/register">Register</a></h5>
</div>
{%  endblock %}