{%  extends "base.html" %}

{% block title %}Pizza Shop{%  endblock %}

{%  block content %}
<div class="text-center vertical pt-4">
        <h1>Thank you for your order. Estimated waiting time: 20 minutes</h1><br>
        <h1>Your Order:</h1>
            {% for topping in pizza %}
                <h4>{{topping|cut:': True'}}</h4>
            {% endfor %}
        <br><h2>Delivery Details:</h2>
        <h3>Address: {{details.shipping_addr}}</h3>
</div>
{%  endblock %}