{%  extends "base.html" %}

{% block title %}Pizza Shop{% endblock %}

{% block content %}
<div class="container pt-5">
    <div class="row">
        <div class="col-6">
        <form action="." method="post">
            {{form.as_p}}
            {% csrf_token %}
            <button type="submit">Place Order</button>
        </form>
        </div>
        <div class="col-6">
            <h1>Your Order:</h1> <br>
            {% for topping in pizza %}
                <h4>{{topping|cut:': True'}}</h4>
            {% endfor %}
        </div>
    </div>
</div>
{%  endblock %}