{% extends 'base.html' %}

{% block title %}Order history{% endblock %}

{% block content %}
<div class="table-responsive">
    <table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Ordered on</th> 
            <th>Shipping to</th>
            <th>Pizza</th>
        </tr>
    </thead>
    <tbody>
        {% for ord in orders %}
            <tr>
                <td>{{ ord.id }}</td>
                <td> {{ ord.date_ordered }}</td>
                <td> {{ ord.shipping_addr  }}</td>
                <td> {{ord.pizza |cut:': True'}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}