{% extends 'base.html' %}

{% block title %}
    User Signup
{% endblock %}

{%  block content %}
<div class="left">
    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">SUBMIT</button>
    </form>
</div>
{%  endblock %}