{% extends 'base.html' %}

{% block title %}Timetable{% endblock %}


{% block content %}
{% block navbar %}
{% endblock %}
<div class="text-center vertical pt-5">
    <h2>Admin logged in</h2>
    <h2><a href="/admin">Go to Admin Page</a></h2>
</div>
    
{% endblock %}