{%  extends "base.html" %}

{% block title %}Make a Booking{% endblock %}

{% block content %}
<h2>{{error}}</h2>
<div class="text-center vertical pt-5">
    <form action="." method="post">
        {{form.as_p}}
        {% csrf_token %}
        <button type="submit">Make Booking</button>
    </form>
</div>
{%  endblock %}
