{% extends 'base.html' %}

{% block title %}Timetable{% endblock %}

{% block content %}
{% block navbar %}
{% endblock %}
<div class="table-responsive">
    <table class="table table-bordered">
    <thead>
        <tr>
            <th>Time</th>
            {% for day_of_week in days %}
            <th class="text-uppercase">
                {{day_of_week}}
            </th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for time in times %}
        <tr>
            <td>{{time}}</td>
            {% for day_of_week in days %}
                    <td id="{{day_of_week| cut:'' }} {{time}}">
                    </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>

<script type="text/javascript">
    var bookings = JSON.parse('{{bookings | safe }}');
    for (var i = 0; i < bookings.length; i++){
        booking = bookings[i].fields;
        starting_time = booking.start_time.slice(0, -3)
        bookingName = booking.day + " " + starting_time;
        slot = document.getElementById(bookingName);
        const newDiv = document.createElement("div");
        slot.appendChild(newDiv);
        newDiv.classList.add('event');
        const extraDiv = document.createElement("div");
        newDiv.appendChild(extraDiv);
        extraDiv.classList.add('event-desc');
        room = JSON.parse('{{rooms | safe }}').find(r=>r.pk === booking.room).fields.number;
        module = JSON.parse('{{modules | safe }}').find(m=>m.pk === booking.module).fields;
        co_list = ""
        for (var n = 0; n < module.cohort.length; n++){
            cohorts = JSON.parse('{{cohorts | safe }}').find(c=>c.pk === module.cohort[n]);
            co_list += cohorts.fields.name + " ";
        }
        module_name = module.name
        module_code = module.code
        extraDiv.innerHTML = `<strong>Type: ${booking.type}, Location: ${room}, Module: ${module_code} - ${module_name}, Time: ${booking.day} ${starting_time}, Cohorts: ${co_list}, Duration: ${booking.duration} hrs</strong>`
        if (booking.duration > 1) {
            for (var m = 1; m < booking.duration; m++){
                start = (parseInt(booking.start_time) + m)
                if (start < 10){
                    start = `0${start}:00`
                } else {
                    start = `${start}:00`
                }
                bookingName = booking.day + " " + start
                slot = document.getElementById(bookingName);
                const newDiv = document.createElement("div");
                slot.appendChild(newDiv);
                newDiv.classList.add('event');
                const extraDiv = document.createElement("div");
                newDiv.appendChild(extraDiv);
                extraDiv.classList.add('event-desc');
                extraDiv.innerHTML = `<strong>Type: ${booking.type}, Location: ${room}, Module: ${module_code} - ${module_name}, Time: ${booking.day} ${starting_time}, Cohorts: ${co_list}, Duration: ${booking.duration} hrs</strong>`
        }
        }
    }  

    var bookings = JSON.parse('{{room_bookings | safe }}');
    for (var i = 0; i < bookings.length; i++){
        booking = bookings[i].fields;
        starting_time = booking.start_time.slice(0, -3)
        bookingName = booking.day + " " + starting_time;
        slot = document.getElementById(bookingName);
        const newDiv = document.createElement("div");
        slot.appendChild(newDiv);
        newDiv.classList.add('event');
        const extraDiv = document.createElement("div");
        newDiv.appendChild(extraDiv);
        extraDiv.classList.add('event-desc');
        room = JSON.parse('{{rooms | safe }}').find(r=>r.pk === booking.room).fields.number;
        extraDiv.innerHTML = `<strong>Location: ${room}, Time: ${booking.day} ${starting_time}, Duration: ${booking.duration} hrs</strong>`
        if (booking.duration > 1) {
            for (var m = 1; m < booking.duration; m++){
                start = (parseInt(booking.start_time) + m)
                if (start < 10){
                    start = `0${start}:00`
                } else {
                    start = `${start}:00`
                }
                bookingName = booking.day + " " + start
                slot = document.getElementById(bookingName);
                const newDiv = document.createElement("div");
                slot.appendChild(newDiv);
                newDiv.classList.add('event');
                const extraDiv = document.createElement("div");
                newDiv.appendChild(extraDiv);
                extraDiv.classList.add('event-desc');
                extraDiv.innerHTML = `<strong>Location: ${room} Time: ${booking.day} ${starting_time}, Duration: ${booking.duration} hrs</strong>`
        }
        }
    }  
</script>
{% endblock %}