{% extends 'base.html' %}

{% block title %}
    User Login
{% endblock %}

{%  block content %}
<div class="text-center vertical pt-5">
    <form action="." method="POST">
    {% csrf_token %}
    {{ form.as_table }}
    <button type="submit">SUBMIT</button>
    </form>
    <br>
<h3>No Account? Sign up</h3>
<a href="/registerstudent">Student Registration</a>
<a href="/registerteacher">Teacher Registration</a>
</div>
{%  endblock %}