{% extends 'base.html' %}

{% block title %}Booking Confirmed{% endblock %}


{% block content %}
{% block navbar %}
{% endblock %}
<div class="text-center vertical pt-5">
    <h2>Your Booking is confirmed</h2><br>
    Day: {{booking_details.day}}<br>
    Start Time: {{booking_details.start_time}}<br>
    Duration: {{booking_details.duration}} hrs<br>
    Room: {{booking_details.room}}<br>
</div>
{% endblock %}