{% extends 'base.html' %}

{% block title %}
    User Signup
{% endblock %}

{%  block content %}
<div class="text-center vertical pt-5">
    <form action="." method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Register</button>
    </form>
</div>
{%  endblock %}